<!-- navbar.ejs -->

<!-- data = [{}] -->
<% links.forEach((MyData)=>{ %>

<div class=""><%=MyData.age %></div>
<div class=""> <%=MyData.name %></div>
<div class=""> <%=MyData.height %></div>

<% }) %>

<% links.forEach((MyData)=>{ %>
  
<div class="">Salamatu</div>
    
<%  }) %>
<% links.forEach((Mylinks)=>{ %>
  <div class=""><%=Mylinks.age %></div>
 
  
  
  
<% }) %>

!



 <div class="movie-card">
        <img src="https://image.tmdb.org/t/p/w500/rAiYTfKGqDCRIIqo664sY9XZIvQ.jpg" alt="Interstellar">
        <div class="movie-card-content">
          <div class="movie-card-title"><%=MylinksData.name %></div>
          <div class="movie-card-details">
            <span class="movie-card-rating">★ 8.6</span>
            <span class="movie-card-year">2014</span>
          </div>
        </div>
      </div>




<% }) %>








 





